label {
  font-weight: 900;
  font-size: 18px;
}

.container {
  width: 400px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
}

#show-color {
  width: 200px;
  height: 200px;
  margin: 20px 130px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 190px;
}

input[type='text'] {
  width: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #50555c;
  text-align: center;
}

.box {
  display: block;
  float: right;
  margin: 10px;
}
